<!doctype html>
<html>
  <head>
      <title>신춘문예 2017 후보 시봇 (v0.001)</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <!-- Firebase -->
      <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
      <!-- AngularFire -->
      <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

  </head>
  <body ng-app="Poem" ng-controller="Ctrl">
    <div>
      <h1>신춘문예 2017 후보 시봇 <small>(v0.001)</small>
        <button type="button" class="btn btn-success navbar-btn glyphicon glyphicon-pencil" ng-click="getPoem()"> 다시쓰기</button>
      </h1>
      <pre>
          <div ng-hide="poem">
              <img src="pencil.gif" width="128">
              시를 쓰는 중입니다 잠시 기다려 주세요
          </div>
          {{poem}}
          <div ng-show="poem">
             <button type="button" class="btn btn-primary glyphicon glyphicon-thumbs-up"
                      ng-disabled="stored" ng-click="savePoem()"> 오~ 괜찮아!</button></div></pre>
    </div>

  <div class="alert alert-warning" role="alert">
  <H3>이 봇은 무엇인가?</H3>
      이 봇은 딥러닝을 기반으로 이전의 시에서 배워 새로운 시를 만들어 내는 프로그램입니다. 2017년 신촌문예에 작품을 제출하는 것을 목표로 열심히 학습하고 있습니다
  <H3>참여하기</H3>
      <li>우선 시를 보고 마음에 들경우 "오~ 괜찮아" 버턴을 눌러주시면 이 시를 이용 추가학습합니다.</li>
      <li>딥러닝 알고리즘에 기여하고 싶으시면 <A href="https://github.com/DeepLearningProjects/poem-bot">https://github.com/DeepLearningProjects/poem-bot</A> 에 참여하시면 됩니다.</li>
      <li>딥러닝에 대해 자세한 정보를 알고 싶으시면 다음  알고리즘에 기여하고 싶으시면 <A href="https://hunkim.github.io/ml/">https://hunkim.github.io/ml/</A> 수업을 참여 하시면 됩니다.</li>
  </div>


  </body>
<script>
angular.module("Poem", ["firebase"]).controller("Ctrl", function ($scope, $firebaseArray, $http) {
    $scope.poem = null;
    $scope.stored = false;

    $scope.getPoem = function() {
        $scope.stored = false;
        $scope.poem = null;
        $http({method: "GET", url: "https://poem-bot.herokuapp.com/api/char-rnn"})
            .success(function(data){
                $scope.poem = data;
            });
    }

    $scope.savePoem = function() {
        if ($scope.poem==null) { // do nothing
            return;
        }
        var ref = new Firebase("https://poem-bot.firebaseio.com/goodjob");
        // create a synchronized array
        $scope.poems = $firebaseArray(ref);

        // add new items to the array
        // the message is automatically added to our Firebase database!
        $scope.poems.$add({
            text: $scope.poem,
            time: Firebase.ServerValue.TIMESTAMP
        });

        $scope.stored = true;

    }

    $scope.getPoem();
});


</script>
</html>